# Configuration Example for an Epsilon Eridani-like star.  
# Parameters used to generate results found in deVaux et al. 2026


# Set up directory structure for outputs - Must change folder for each parameter change to avoid overwriting work
[General]
#Name of Overall Folder to store multiple runs
outdir     = eridani-outputs
#Name of Folder to store one specific run - Recommended to use a name based on parameters used
folder     = quad-limb-70i


# Simulation Parameters - Used to determine number of maps and shapes of arrays  
[Sim]
# Max spherical harmonic degree - Code will automatically calculate ncurves (# of eigenmaps) from lmax using (lmax+1)**2 - 1
lmax       = 5
# Number of points used in each light curve (lcs) & thus shape of design matrix
nlcs       = 1000


# Stellar Paramters - Used to set up stellar system in starry
[Star]
# Radius in solar radii - Used to Calculate Veq if set to 0
# [have to find source for this value]
r    = 	0.74
# Rotational period in days - Used to Calculate Veq if set to 0
# [have to find source for this value]
prot = 	11.4
# Inclination - Axis tilt relative to observer with 90 being edge-on
# [have to find source for this value]
inc  =  70.0
# obliquity - Axis rotation relative to observer with 0 being 12 o'clock and positive degrees moving counterclockwise
# [have to find source for this value]
obl  = 0
#Limb Darkening Coefficients - O if None, one value if linear, or two comma seperated coefficients if quadrartic (no spaces)
# [Coefficients listed above taken from Claret 2017]
udeg = 0.4374,0.1943
# Equatorial Rotation Velocity (m/s) - if set to zero, codes uses 'r' and 'prot' to calculate 'veq'
veq  = 0
# Important veq Notes:
# 1). code rounds value to 2 significant figures
# 2). Warning will be displayed if veq, r, and prot are all given and veq is not physical 
#    (within 5% expected value using r and prot)
#effective temperature - Used to calculate realistic maps
teff = 5100
#max effective temperature - Used to calculate realistic maps
max_teff = 5500
#min effective temperature - Used to calculate realistic maps
min_teff = 4100

